li {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}

#sortable-layout {
    border: 2px solid #027296;
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    width: 100%;
}

#sortable-layout li {
    margin: 0 3px 3px 3px;
    font-size: 1.4em;
    height: 35px;
    padding: 10px 5px;
}

#sortable-layout li span {
    position: absolute;
    margin-left: -1.3em;
}

.layout-containers-wrapper{
    width: 600px;
    padding: 30px 40px;
    border-right: solid 1px #ddd;
}
