body {
    font-family: sans-serif;
}
#add-drop-target-button {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    border: 2px solid #027296;
    background: #f6f6f6;
    font-weight: 900;
    color: #454545;
    background: url("../img/plus.png") center no-repeat ;
}

#add-layout-container {
    z-index: 100;
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 40px;
    background-color: rgba(220, 230, 245, 0.92);
    text-align: -webkit-center;
}
#add-layout-container-ul li {

}

#add-layout-container-ul li span {
    position: absolute;
    margin-left: -1.3em;
}
#add-layout-container-ul {
    list-style-type: none;
    padding: 5px 20px;
    height: 600px;
    width: 600px;
}
#all-container-elements {
    float: left;
}
.sortable-container-li {
    padding: 0;
    height: 60px;
    position: relative;
}
.container-delete {
    z-index: 99;
}
.container-col-holder {
    box-sizing: border-box;
    text-align: center;
}
.container-col {
    z-index: 98;
    box-sizing: border-box;
    height: 35px;
    border: solid 1px #444;
}
.container-col-empty {
    background-color: #ffffff;

    background-image: url("../img/plus-thin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    filter: grayscale(80%);
}


/*ADD ELEMENT OVERLAYS*/

#click-stop {
    height: 100%;
    width: 100%;
}
.options-container {
    max-width: 600px;
    max-height: 900px;
    min-width: 400px;
    min-height: 600px;
    margin: 40px auto;
}
.options-overlay {
    top: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 40px 40px 40px;
    border: 2px solid #027296;
    background-color: rgba(200, 230, 255, 0.97);
    z-index: 100;
}
.select-element-add {
    margin: 10px auto;
    width: 90%;
    min-height: 90px;
    padding-left: 5%;
    border: 2px solid rgba(180, 210, 225, 0.8);
    background-color: rgba(240, 240, 255, 1);
}
.select-element-add:hover {
    border: 2px solid rgba(160, 180, 205, 0.9);
    background-color: rgba(255, 255, 255, 1);
}
.close-button {
    background: url("../img/close.png") center no-repeat ;
    background-size: 16px 16px;
    border-radius: 12px;
    height: 24px;
    width: 24px;
    /*border: 2px solid #ecc;*/
    position: absolute;
    top: 7px;
    right: 7px;
    filter: grayscale(70%);
}
.close-button:hover {
    /*border: 2px solid #f55;*/
}
.options-overlay-hide {
    display: none;
}
.add-input-holder {
   /* float: left;
    width: 50%;*/
    box-sizing: border-box;
    border: 2px solid rgba(70, 70, 70, 0.7);
    text-align: center;
    padding-bottom: 14px;
    background-color: rgba(240, 240, 255, 1);
    min-height: 110px;
}
.add-input-holder:hover {

    border: 2px solid rgba(160, 180, 205, 0.9);
    background-color: rgba(255, 255, 255, 1);
}
.step-heading {
    margin-left: -10px;
}
.add-input-holder input {
    width: 120px;
}
.table-select-add-holder {
    width: 100%;
}
.table-select-add-holder tr td {
    width: 50%;
    height: 85px;
}
.add-container {
    margin: 5px;
    padding: 10px;
    position: relative;
    height: 36px;
}
.add-container-custom {
    margin: 5px;
    padding: 10px;
    position: relative;
    height: 36px;
}
.container-col-no-click {
    pointer-events: none;
}
.settings-holder h5 {
    margin: 15px 0 5px 0!important;
}

.settings-holder h3 {
    margin: 15px 0 5px -15px!important;
}
.half-col-container {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.step-3-table td{
    vertical-align: baseline;
}
.step-3-table {
    border-spacing: 30px;
}
.step-3-table td {
    background-color: #eee;
    border: 3px solid #7bf;
    padding: 10px 40px 40px 40px
}
.submit-data {
    height: auto;
    width: 150px;
    text-align: center;
    border: 3px solid #77bbff;
    background-color: #77bbff;
    margin: 0 auto;
    padding: 10px 0;
}
.submit-data:hover {
    background-color: #fff;
}



.element-input input, .input-col-display input{
    width: 80%;
}
.input-col-display input{
    width: 100%;
}
.element-textarea textarea {
    height: 18px;
    margin-top: 4px;
}
#refreshDisplay {
    width: 80px;
    height: 30px;
    border: 3px solid #77bbff;
    cursor: pointer;
}
#display-output {
    width: 600px;
    border: 3px solid #77bbff;
    padding: 40px;
    text-align: center;
}
.display-row-container {
    height: 30px;
}
.display-row-container input {
    box-sizing: border-box;
}
.custom-width-range {
    width: 90%;
}
#add-container-col-custom-width {
    height: 77px;
}

.submit-button {
    height: auto;
    width: 150px;
    text-align: center;
    border: 3px solid #77bbff;
    background-color: #77bbff;
    margin: 0 auto;
    padding: 10px 0;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #fff;
}
.container-col:hover {
    filter: grayscale(0%);
}
.container-col-1 {
    float: left;
    width: 99%;
    margin-left: 1%;
}
.container-col-2 {
    float: left;
    width: 49%;
    margin-left: 1%;
}
.container-col-3 {
    float: left;
    width: 32.32%;
    margin-left: 1%;
}
.container-col-4 {
    float: left;
    width: 24%;
    margin-left: 1%;
}
.container-col-5 {
    float: left;
    width: 19%;
    margin-left: 1%;
}
.container-col-6 {
    float: left;
    width: 15.65%;
    margin-left: 1%;
}


.container-custom-1 {
    float: left;
    /*width: 7%; 96%*/
    width: 7.32%;
    margin-left: 1%;
}
.container-custom-2 {
    float: left;
    /*width: 15.3%; 97.8%*/
    width: 15.65%;
    margin-left: 1%;
}
.container-custom-3 {
    float: left;
    /*width: 23.5%; 98%*/
    width: 24%;
    margin-left: 1%;
}
.container-custom-4 {
    float: left;
    /*width: 31.5%; 97.5%*/
    width: 32.32%;
    margin-left: 1%;
}
.container-custom-5 {
    float: left;
    /*width: 40%; 96%*/
    width: 40.65%;
    margin-left: 1%;
}
.container-custom-6 {
    float: left;
    /*width: 48%; 98%*/
    width: 49%;
    margin-left: 1%;
}
.container-custom-7 {
    float: left;
    /*width: 56%; 97.71%*/
    width: 57.32%;
    margin-left: 1%;
}
.container-custom-8 {
    float: left;
    /*width: 65%; 97.5%*/
    width: 65.65%;
    margin-left: 1%;
}
.container-custom-9 {
    float: left;
    /*width: 72.5%; 98%*/
    width: 74%;
    margin-left: 1%;
}
.container-custom-10 {
    float: left;
    /*width: 81%; 98.4%*/
    width: 82.32%;
    margin-left: 1%;
}
.container-custom-11 {
    float: left;
    /*width: 89.5%; 97.64%*/
    width: 90.65%;
    margin-left: 1%;
}
.container-custom-12 {
    float: left;
    /*width: 97%; /*98%*/
    width: 99%;
    margin-left: 1%;
}